# Python
__pycache__/
*.py[cod]
*$py.class
venv/
backend/venv/
.env
.env.*

# Node
node_modules/
dist/
dist-ssr/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
*.DS_Store
